<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="title">Lists</h1>

      <div class="list-menu">
        <a href="#" class="list-menu-item">list #1</a>
        <a href="#" class="list-menu-item">list #1</a>
        <a href="#" class="list-menu-item">list #1</a>
        <a href="#" class="list-menu-item">list #1</a>
        <a href="#" class="list-menu-item">list #1</a>
      </div>

      <button class="btn button">+ New List</button>
    </div>

    <div class="tasks-list-container">
      <h1 class="title">Tasks</h1>
      <!-- Task Elements  -->
      <div class="task complete">
        <p>This something I have to do.</p>
      </div>
      <div class="task">
        <p>This something I have to do.</p>
      </div>
      <div class="task">
        <p>This something I have to do.</p>
      </div>
    </div>
  </div>
</div>
