<div class="centered-content">
  <div class="task-manager-container">
    <!--* Side-bar ................ -->
    <div class="sidebar">
      <h1 class="title">Lists</h1>
      <div class="list-menu">
        <a href="#" class="list-menu-item">List-1</a>
        <a href="#" class="list-menu-item">List-2</a>
        <a href="#" class="list-menu-item">List-3</a>
      </div>
      <button class="btn">+ New List</button>
    </div>

    <!--* Tasks Container ......... -->
    <div class="tasks-container">
      <h1 class="title">Tasks</h1>
      <div class="tasks">
        <p>Task-1</p>
      </div>
      <div class="tasks">
        <p>Task-1</p>
      </div>
      <div class="tasks">
        <p>Task-1</p>
      </div>
      <button class="btn circle-add-button">
        <img src="../../../assets/plus-icon.svg" alt="" />
      </button>
    </div>
  </div>
</div>
